.area-btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    /* border-radius: 45px; */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.6s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .area-btn:hover {
    background-color: #0f294d;
    box-shadow: 0px 15px 20px ;
    color: #fff;
    
  }
  
  .area-btn:active {
    transform: translateY(-1px);
  }