.travel-detail-page-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  margin-top: 30px;
  }

.detail-area {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
  border-radius: 10px;
  padding: 30px;
  background-color: #fff;

  }

  .area-image {
    max-width: 100%; /* Set maximum width to prevent images from stretching */
    height: auto; /* Maintain aspect ratio */
    margin: 30px;
  }

  .detail-title{
    font-size: 2.25rem;
    margin-bottom: 1rem; /* mb-4 */
  font-weight: bold; /* font-bold */
  line-height: 1; /* leading-none */
  }

  .detail-addr{
    margin-bottom: 1rem; /* mb-4 */
    font-size: 1.25rem; /* text-xl */
    font-weight: bold; /* font-bold */
    line-height: 1; /* leading-none */
  }

  .detail-overview{
    margin-left: 0.125rem; /* ml-0.5 */
    font-size: 0.875rem; /* text-sm */
  }

  @media (min-width: 1024px) {
    .detail-overview {
      font-size: 0.875rem; /* lg:text-sm */
    }
  }

  .area-image img {
    width: 480px;
    height: 360px;
  } 

  .detail-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   .detail-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .detail-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .detail-button:hover span {
    padding-right: 15px;
   }
   
   .detail-button:hover span:after {
    opacity: 1;
    right: 0;
   }