body {
  font-family: "Montserrat", "Raleway", "Apple SD Gothic Neo", "Malgun Gothic",
    "Noto Sans", sans-serif;
  margin: 0px;
}

.section-border {
  border-top: 1px solid #dadce0;
  margin-bottom: 3px;
}

.map-area {
  display: flex;
  height: 100vh;
  width: 100%; /* 전체 화면 너비를 사용하도록 설정 */
}

.logo-area-map-page,
.select-item,
.map-item {
  flex-grow: 1; /* 모든 아이템의 너비가 동일하도록 설정 */
}

.logo-area-map-page {
  width: 430px;
  margin: 0px 0px;
  padding: 0px 7px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;

}

.select-item {
  width: 330px; /* 고정된 너비 설정 */
  padding-left: 10px;
  padding-right: 10px;
}


.scroll-bar, .select-item-scroll-bar {
  height: 400px; /* 부모 요소의 높이에 맞춰 설정 */
  overflow-y: scroll;
  width: 100%; /* 부모 요소의 너비에 맞추어 설정 */
}

 .select-item-scroll-bar {
  height: 600px; /* 부모 요소의 높이에 맞춰 설정 */
  overflow-y: scroll;
  width: 100%; /* 부모 요소의 너비에 맞추어 설정 */
}

/* 추가적인 스크롤 바 스타일링 (선택사항) */
.scroll-bar::-webkit-scrollbar, .select-item-scroll-bar::-webkit-scrollbar {
  width: 8px; /* 스크롤 바의 너비 */
}

.scroll-bar::-webkit-scrollbar-track, .select-item-scroll-bar::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤 바 트랙의 배경색 */
}

.scroll-bar::-webkit-scrollbar-thumb, .select-item-scroll-bar::-webkit-scrollbar-thumb {
  background: #888; /* 스크롤 바의 색상 */
  border-radius: 4px; /* 모서리를 둥글게 설정 */
}

.scroll-bar::-webkit-scrollbar-thumb:hover, .select-item-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555; /* 스크롤 바에 마우스를 올렸을 때 색상 */
}


.map-item {
  width: 700px; /* 고정된 너비 설정 */
}

.sub-logo-area {
  display: flex;
  flex-direction: column;
}


.travel-calendar-container {
  text-align: center; /* 기본값으로 설정하거나 다른 스타일을 적용합니다 */
}

.logo-area-map-page img {
  display: block; /* 이미지를 블록 요소로 변경하여 가로 중앙 정렬 */
  margin: 0 auto; /* 이미지를 수평 중앙 정렬 */
  cursor: pointer;
}

.location-logo {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -1px;
  cursor: pointer;
}

.basic-drop-shadow {
  background: #fff;
  border: 0;
  box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
}

/* selectList 배경 */
.select-cal-area {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* calendar버튼 */
.calendar-btn {
  margin: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid black;
  border-radius: 100%;
}

.calendar-btn:hover {
  border: 2px solid #2247a6;
}

.cal-item {
  font-size: 18px;
  padding: 25px;
}
