.tourism-area {
    border-bottom: 1px solid black;
}

.tourism-item {
    display: flex;
    justify-content: space-between; /* 아이템 사이에 간격 조정 */
    align-items: center;
    padding: 10px; /* 컨텐츠 주변에 여백 추가 */
}

.tourism-item > div {
    margin-right: 10px; /* div 사이에 우측 여백 추가 */
}

.tourism-item > div:last-child {
    margin-right: 0; /* 마지막 div의 여백 제거 */
}

/* 폰트 스타일 조정 */
.tourism-item > div > div {
    font-family: Arial, sans-serif; /* 적합한 폰트 선택 */
    font-size: 16px; /* 필요에 따라 폰트 크기 조정 */
    color: #333; /* 텍스트 색상 지정 */
}
